// LOGO
#logo{width: 200px; padding: 1rem;
  @include media-max(xs){width: 180px; padding: 0.5rem; }
  @include media-max(xxs){width: 150px; }
  @media (max-width: 370px) {width: 130px; }
}

// HEADER
.headerFW.hover--background{
  .headerFW__nav__inline{
    >ul>li{ 
      >*:not(ul){transition: background 0.4s;}
      &.active, &.trail, &:hover{
        >*:not(ul){
          background: rgba($primary,0.8); color: contrastFW(color(white),rgba($primary,0.8));
        }
      }
    }
  }
}

// HERO
.heroFW{}
.heroFW__content {
  &:not(.no-shadows){@extend .txt--extrud !optional;}
}

.heroFW__subtitle{font-size: 1.2em; margin-bottom: 1em;}
.heroFW__content__wrapper:has(.heroFW__subtitle){
  .heroFW__title{line-height: 1;margin-bottom: 0;}
}

// SLIDER
.ce_sliderStart{ margin-bottom: $spacing;
  @include media-max(xs){margin-bottom: $spacing/2;}
  .slider-wrapper{
    &>*{margin-bottom: 0;}
  }
  .slider-control{position: static; height: 0;}
  .slider-menu{top: auto;}
  .slider-menu b{@extend .sliderFW__nav__item !optional;}
  .sliderFW__arrow{top: 50%;color: white; text-decoration: none; &:hover{color: white;}}
  .heroFW a:not([class*=btn]){color: inherit; text-decoration: none;}


  .sliderFW__arrow{
    &:after{border-color: color(white); opacity: 0.7;}
    &:hover:after{opacity: 1; }
    &.prev{left: 1em;}
    &.next{right: 1em;}
  }
}

.sliderFW.preset--carousel{ @extend .nav--hidden !optional; position: relative;
  .sliderFW__item{width: 60%; margin: 0 1rem; opacity: 0.5; transform:translateZ(-100px) scale(0.95); transition: all 0.6s;
    &.active{opacity: 1;transform:translateZ(0px) scale(1);}
    &:not(.active){ cursor: pointer;
      & .modalFW__trigger{pointer-events: none;}
    }
  }
  .sliderFW__container{width: auto; margin: auto 4rem; transform-style: preserve-3d; perspective: 1000px;
    @include media-max(xxs){margin: auto 2rem;}
  }
  .sliderFW__arrow:after{border-color: color(greylight);}
  .sliderFW__rail{align-items: center; transform-style: preserve-3d;}
}

.sliderFW.content--bottom{
  .sliderFW__item__content{height: auto;top: auto;bottom: 0; padding: 2em !important; font-size: 0.8em; min-height: 160px; align-items: flex-start;}
}


// MOD_WEM_PORTFOLIO
$palette_1: (
  1 : #e86363,
  2 : #999999,
  3 : #f54337,
  4 : #f54337,
  5 : #e0e0e0,
);

.mod_wem_portfolio_list{}
.portfolio__list__wrapper{
  display: flex; flex-wrap: wrap;
  .mod_wem_portfolio_list.portfolio--gallery &{
    @extend
    .d-grid,
    .gap-0,
    .cols-4,
    .cols-md-2,
    .cols-xs-1 !optional;
  }
}
.portfolio__item{ position: relative;
  .portfolio--gallery &{
    &>a{color: inherit; text-decoration: none;}
    figure{@extend %img-container,.r_4-3 !optional; margin-bottom: 0; height: 100%; width: 100%;
      &:after{@include pseudo();top: 0;left: 0;width: 100%;height: 100%; background: $primary; opacity: 0.7; transition: opacity 0.6s;}
    }
    @each $key, $value in $palette_1{
      &:nth-of-type(#{$key}n){ order: $key - 1 ;
        figure:after{background: $value;}
      }
    }
    &:nth-of-type(4n){@include media-max(xs){order: 5;} }
    &:hover{
      figure:after{opacity: 0;}
    }
    &:first-child{
      @extend
      .cols-span-2, .rows-span-2,
      .cols-span-md-2, .rows-span-md-1,
      .cols-span-xs-1, .rows-span-xs-1 !optional;
    }
  }
  // .block-card__wrapper{ margin-bottom: 0;}
  .block-card__content{padding: 1rem 0; justify-content: flex-start;
    *:last-child{margin-bottom: 0;}
  }
  .block-card__wrapper{box-shadow: none; background: none;
    &:after,
    &:before{display: none;}
  }
  .block-card__title{margin-bottom: 0;}
  .block-card__text{
    .h5{font-size: 1.2em; font-weight: 300;}
  }
}

.portfolio__item__content{
  .portfolio--gallery & {
    position: absolute; top: 0; left: 0;height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: flex-end;align-items: center;
  }
}
.portfolio__item__title{
  .block-card &{display: flex; justify-content: space-between; flex-grow: 1;}
  .portfolio--gallery & { text-align: center;
    font-weight: bold; text-shadow: 1px 1px 4px rgba(0,0,0,.8); margin-bottom: 2rem; padding: 0 1rem; color: color(white);
  }
}

.mod_wem_portfolio_reader{
  .mod_article>& .sliderFW,
  .mod_article>& .heroFW{
    & .modalFW__trigger.ready{cursor: pointer;}
  }
  table.attributes{width: 100%; margin-bottom: $spacing;
    @include media-max(xs){margin-bottom: $spacing/2;}
    tr:not(:last-child){border-bottom: 1px solid color(greylight);}
    td{padding: 0.5rem 0;}
  }
}


// COUNTUP LINE
.countUpLine{@extend .p-all-x2,.w-full,.m-bottom !optional;
  &:not([class*=bg-]){@extend .bg-primary !optional}
  .countUpFW{@extend .p-all !optional;}
}

// PRODUCT PAGE
.product__wrapper{@extend .counter-x !optional; display: flex;flex-wrap: wrap;
  .mod_article+&{@extend .counter-top !optional;}
  .mod_iso_productreader{flex-grow: 1;}
}
.product__title{text-align: center; padding: $spacing; background: color(greylight);grid-column: 1/-1;
  @include media-max(xs){padding: $spacing/2;}
  & *:last-child{margin-bottom: 0;}
}
.product__nav{
  .d-lg-block{min-height: 60vh;}
}
@each $key, $value in $colors{
  body.title--#{$key} .product__title{ background-color: $value isImportant($key); color: body(font-color); color: contrastFW(body(font-color), $value);
    .h1, h1{color: inherit !important;}
  }
  body.title--font--#{$key} .product__title{color: $value !important;}
}
.mod_iso_productfilter{padding: $spacing; margin-bottom: -1rem;
  @include media-max(xs){padding: $spacing/2;}
  & .filters{display: flex;flex-wrap: wrap;justify-content: space-between; margin: 0 -0.5rem;
    & label{font-weight: bold; margin: 0 0.5rem 0.5rem;}
    & button{margin: 0 0.5rem 1rem; flex-grow: 1; flex-basis: 250px;
      &:first-of-type{flex-basis: 100%;}
    }
  }
}

.mod_iso_nav{padding: $spacing; margin-bottom: -1rem; 
  padding: 0;
  margin-bottom: 0;
  @include media-max(xs){padding: $spacing/2;
    padding: 0;
  }
  .accordionFW & {padding: 0 0 $spacing/2 ;}
  & ul{@extend .reset !optional;
    // &.level_1{margin-right: 40px;}
    &.inline{
      >li{display: inline-block;}
    }
    &>li{display: block;
      &>*{width: 100%;}
      &>ul{ padding-left: 6px; border-left: 2px solid red; 
        max-width: calc(100% - 2em);
        margin-left: 2em;
        // margin-left: 40px;
      }
    }
  }
  & .filters{display: flex;flex-wrap: wrap;justify-content: space-between; margin: 0 -0.5rem;
    & label{font-weight: bold; margin: 0 0.5rem 0.5rem;}
    & button{margin: 0 0.5rem 1rem; flex-grow: 1; flex-basis: 250px;
      &:first-of-type{flex-basis: 100%;}
    }
  }
}

.mod_iso_productlist{ width: 100%;display: grid; 
  grid-template-columns: 1fr 3fr;
  grid-template-columns: 1fr;
  @include media-max(md){grid-template-columns: 1fr;}
  .stickTop{position: sticky; top: clamp(100px,15vh,120px);  max-height: calc(100vh - clamp(100px,15vh,120px)); overflow: auto; z-index: 1;
    &:has(.mod_navigation ul.inline){overflow: visible;}
  }
  .product_list{margin-inline: -1rem; margin-top: 1rem;}
  .block-card__wrapper{box-shadow: none; padding: $spacing; background: transparent; transition: background 0.6s, color 0.4s;
    padding: 1rem 1rem 2rem; border-radius: 2px;
    // @include media-max(xs){padding: $spacing/2;}
    &:hover,&.hover,&.active{background: $primary; color: color(white) !important;}
    &:before,
    &:after{content:none;}
  }
  .block-card__content{padding: 1rem 0 0; justify-content: flex-start; }
  .block-card__link{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}
}

.mod_breadcrumb{width: auto;}
.mod_iso_productreader{
  .ce_downloads{
    ul{@extend .reset !optional;}
  }
  .contents{
    .sliderFW .sliderFW__item__bg img{object-fit: contain;}
  }
}


// SLIDES
body.slides{
  & #container{@include flex-container(row,wrap);}
  & #main{ max-width: 100%;
    &>.inside{min-height: 100%; display: flex; flex-direction: column; padding: 0; position: relative;}
  }
  &.active .loader{opacity: 0; visibility: hidden;}
}
.mod_article.slide{@include flex-container(row,wrap); flex-grow: 1; padding: 0; position: relative; margin-bottom: 0;
  & .slide__img,
  & .slide__content{flex-basis: 50%; flex-grow: 1; min-width: 50%; max-width: 100%; opacity: 1; visibility: visible; transition: opacity 0.4s;
    @include media-max(md){min-width: 100%;}
  }
  & .slide__img{ display: flex; flex-direction: column; min-height: 90vh;
    @include media-max(md){ min-height: 0 !important;
      // position: absolute; z-index: -1; height: 100%; opacity: 0.3;
    }
    & figure{@extend %img-container;
      flex-grow: 1; display: flex; flex-direction: column; margin-bottom: 0;
      & img{flex-grow: 1; }
    }
  }
  & .slide__content{padding: 5rem; display: flex; flex-direction: column; justify-content: center;
    @include media-max(md){order:1; }
    @include media-max(xxs){padding: 2rem; }
    & .slide__content__pack{@include flex-container(row,wrap,center);
      &>*{flex-basis: 50%; min-width: 250px; padding: 0 2rem; margin-bottom: 2rem; flex-grow:1;
        & h3{margin-bottom: 1.5rem;}
      }
    }
  }
  &:not(.active){
    &>*:not(.loader){opacity: 0; visibility: hidden;height: 0; min-height: 0;}
  }
}
.p-x>.mod_article.slide{@extend .counter-x !optional;}

// MEP
.split-slide{gap: 0;
  // .mod_article>&:first-child{@extend .counter-top !optional;}
  // .mod_article>&:last-child{@extend .counter-bottom !optional;}
  & .ce_image:not(.editorial){position: relative; position: absolute; top: 0;bottom: 0;left: 0;right: 0;
    & figure{@extend %img-container !optional; position: absolute; top: 0;bottom: 0;left: 0;right: 0; margin-bottom: 0;}
  }
  & .item-grid{display: flex;justify-content: center;align-items: center; min-height: 86vh; overflow: hidden; position: relative; @extend .p-all-x2 !optional;}
}