// LOGO
#logo{width: 200px; padding: 1rem;
  @include media-max(xs){width: 180px; padding: 0.5rem; }
  @include media-max(xxs){width: 150px; }
  @media (max-width: 370px) {width: 130px; }
}

// HEADER
.headerFW.hover--background{
  .headerFW__nav__inline{
    >ul>li{ 
      >*:not(ul){transition: background 0.4s;}
      &.active, &.trail, &:hover{
        >*:not(ul){
          background: rgba($primary,0.8); color: contrastFW(color(white),rgba($primary,0.8));
        }
      }
    }
  }
}

// HERO
.heroFW{}
.heroFW__content {
  &:not(.no-shadows){@extend .txt--extrud !optional;}
}

// SLIDER
.ce_sliderStart{ margin-bottom: $spacing;
  @include media-max(xs){margin-bottom: $spacing/2;}
  .slider-wrapper{
    &>*{margin-bottom: 0;}
  }
  .slider-control{position: static; height: 0;}
  .slider-menu{top: auto;}
  .slider-menu b{@extend .sliderFW__nav__item !optional;}
  .sliderFW__arrow{top: 50%;color: white; text-decoration: none; &:hover{color: white;}}
  .heroFW a:not([class*=btn]){color: inherit; text-decoration: none;}


  .sliderFW__arrow{
    &:after{border-color: color(white); opacity: 0.7;}
    &:hover:after{opacity: 1; }
    &.prev{left: 1em;}
    &.next{right: 1em;}
  }
}


// MOD_WEM_PORTFOLIO
$palette_1: (
  1 : #e86363,
  2 : #999999,
  3 : #f54337,
  4 : #f54337,
  5 : #e0e0e0,
);

.mod_wem_portfolio_list{}
.portfolio__list__wrapper{
  display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;
  .mod_wem_portfolio_list.portfolio--gallery &{
    @extend
    .d-grid,
    .gap-0,
    .cols-4,
    .cols-md-2,
    .cols-xs-1 !optional;
  }
}
.portfolio__item{ position: relative;
  .portfolio--gallery &{
    &>a{color: inherit; text-decoration: none;}
    figure{@extend %img-container,.r_4-3 !optional; margin-bottom: 0; height: 100%; width: 100%;
      &:after{@include pseudo();top: 0;left: 0;width: 100%;height: 100%; background: $primary; opacity: 0.7; transition: opacity 0.6s;}
    }
    @each $key, $value in $palette_1{
      &:nth-of-type(#{$key}n){ order: $key - 1 ;
        figure:after{background: $value;}
      }
    }
    &:nth-of-type(4n){@include media-max(xs){order: 5;} }
    &:hover{
      figure:after{opacity: 0;}
    }
    &:first-child{
      @extend
      .cols-span-2, .rows-span-2,
      .cols-span-md-2, .rows-span-md-1,
      .cols-span-xs-1, .rows-span-xs-1 !optional;
    }
  }
  // .block-list__wrapper{ margin-bottom: 0;}
  .block-list__content{padding: 1rem 0; justify-content: flex-start;
    *:last-child{margin-bottom: 0;}
  }
  .block-list__wrapper{box-shadow: none; background: none;
    &:after,
    &:before{display: none;}
  }
  .block-list__title{margin-bottom: 0;}
  .block-list__text{
    .h5{font-size: inherit;}
  }
}

.portfolio__item__content{
  .portfolio--gallery & {
    position: absolute; top: 0; left: 0;height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: flex-end;align-items: center;
  }
}
.portfolio__item__title{
  .block-list &{display: flex; justify-content: space-between; flex-grow: 1;}
  .portfolio--gallery & { text-align: center;
    font-weight: bold; text-shadow: 1px 1px 4px rgba(0,0,0,.8); margin-bottom: 2rem; padding: 0 1rem; color: color(white);
  }
}

.mod_wem_portfolio_reader{
  .mod_article>& .sliderFW{
    & .modalFW__trigger.ready{cursor: pointer;}
  }
  table.attributes{width: 100%; margin-bottom: $spacing;
    @include media-max(xs){margin-bottom: $spacing/2;}
    tr:not(:last-child){border-bottom: 1px solid color(greylight);}
    td{padding: 0.5rem 0;}
  }
}


// PRODUCT PAGE
.product__wrapper{@extend .counter-x !optional; display: flex;flex-wrap: wrap;
  .mod_article+&{@extend .counter-top !optional;}
  .mod_iso_productreader{flex-grow: 1;}
}
.product__title{text-align: center; padding: $spacing; background: color(greylight);grid-column: 1/-1;
  @include media-max(xs){padding: $spacing/2;}
  & *:last-child{margin-bottom: 0;}
}
.product__nav{
  .d-lg-block{min-height: 60vh;}
}
@each $key, $value in $colors{
  body.title--#{$key} .product__title{ background-color: $value isImportant($key); color: body(font-color); color: contrastFW(body(font-color), $value);
    .h1, h1{color: inherit !important;}
  }
  body.title--font--#{$key} .product__title{color: $value !important;}
}
.mod_iso_productfilter{padding: $spacing; margin-bottom: -1rem;
  @include media-max(xs){padding: $spacing/2;}
  & .filters{display: flex;flex-wrap: wrap;justify-content: space-between; margin: 0 -0.5rem;
    & label{font-weight: bold; margin: 0 0.5rem 0.5rem;}
    & button{margin: 0 0.5rem 1rem; flex-grow: 1; flex-basis: 250px;
      &:first-of-type{flex-basis: 100%;}
    }
  }
}

.mod_iso_nav{padding: $spacing; margin-bottom: -1rem; 
  @include media-max(xs){padding: $spacing/2;}
  .accordionFW & {padding: 0 0 $spacing/2 ;}
  & ul{@extend .reset !optional;
    // &.level_1{margin-right: 40px;}
    &>li{display: block;
      &>*{width: 100%;}
      &>ul{ padding-left: 6px; border-left: 2px solid red; 
        max-width: calc(100% - 2em);
        margin-left: 2em;
        // margin-left: 40px;
      }
    }
  }
  & .filters{display: flex;flex-wrap: wrap;justify-content: space-between; margin: 0 -0.5rem;
    & label{font-weight: bold; margin: 0 0.5rem 0.5rem;}
    & button{margin: 0 0.5rem 1rem; flex-grow: 1; flex-basis: 250px;
      &:first-of-type{flex-basis: 100%;}
    }
  }
}

.mod_iso_productlist{ width: 100%;display: grid; grid-template-columns: 1fr 3fr;
  @include media-max(md){grid-template-columns: 1fr;}
  .stickTop{position: sticky; top: clamp(100px,15vh,120px);  max-height: calc(100vh - clamp(100px,15vh,120px)); overflow: auto; z-index: 1;}
  .block-card__wrapper{box-shadow: none; padding: $spacing; background: transparent; transition: background 0.6s, color 0.4s;
    // @include media-max(xs){padding: $spacing/2;}
    &:hover,&.hover,&.active{background: $primary; color: color(white);}
    &:before,
    &:after{content:none;}
  }
  .block-card__content{padding: 1rem 0 0; justify-content: flex-start; }
  .block-card__link{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}
}

.mod_iso_productreader{
  .ce_downloads{
    ul{@extend .reset !optional;}
  }
  .contents{
    .sliderFW .sliderFW__item__bg img{object-fit: contain;}
  }
}
